
.vui-context-menu {

	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	min-height: calc(2rem + 2px);
	padding: 0.5rem 0;
	vertical-align: middle;
	width: calc(2rem + 2px);

	&:hover,
	&:focus {
		background-color: $vui-color-gypsum;
		border-color: $vui-color-titanius;
	}

}

.vui-context-menu > span {

	background-image: $vui-dropdown-tungsten;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 10px;
	min-width: 18px;

}
