.vui-dropdown-context, .vui-dropdown-button {
	display: inline-block;
	position: relative;
}

.vui-dropdown-context .vui-dropdown-menu {
	top: 1.5rem;
	margin-top: $vui-dropdown-menu-offset;
}

.vui-dropdown-context .vui-dropdown-menu-flip-x {
	top:auto;
	bottom: 1.5rem;
	margin-top: 0;
	margin-bottom: $vui-dropdown-menu-offset;
}

.vui-dropdown-button .vui-dropdown-menu {
	top: 2.1rem;
	margin-top: $vui-dropdown-menu-offset;
}

.vui-dropdown-button .vui-dropdown-menu-flip-x {
	top: auto;
	bottom: 2.1rem;
	margin-top: 0;
	margin-bottom: $vui-dropdown-menu-offset;
}
