
.vui-dropdown-menu {

	@include vui-dropdown-menu;

	display: none;
	left: 0;
	position: absolute;
	top: 2.1rem;
	margin-top: $vui-dropdown-menu-offset;
	z-index: 1001;

	[dir="rtl"] & {
		left: auto;
		right: 0;
	}

}

.vui-dropdown-menu-flip-x {
	top: auto;
	bottom: 2.1rem;
	margin-top: 0;
	margin-bottom: $vui-dropdown-menu-offset;
}

.vui-dropdown-menu-flip-y {
	left: auto;
	right: 0;

	[dir="rtl"] & {
		left: 0;
		right: auto;
	}
}

.vui-dropdown-menu-visible {
	display: inline-block;
	@include vui-dropdown-menu-animation;
}
