
.vui-dropdown-menu {

	@include vui-dropdown-menu; 

	display: none;
	left: 0;
	position: absolute;
	top: 2.6rem;
	z-index: 100;

	[dir="rtl"] & {
		right: 0;
	}

}

.vui-dropdown-menu-visible {
	display: inline-block;
}
